@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #8d96a0;
}

/* 修改默认的滚动条 */
* {
    scrollbar-width: none;
}

body {
    background: #161b22;
    overflow: auto;
}

svg {
    width: 1.6vw;
    height: 1.6vw;
    fill: #8d96a0;
}

.logo {
    position: absolute;
    top: 2.5vh;
    left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5vw;
    cursor: pointer;
    transition: background-color ease-out 0.5s;
}

.logo .logo-icon {
    transition: fill ease-out 0.5s;
}

.logo .logo-info {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
    transition: color ease-out 0.5s;
    -webkit-user-select: none;
    user-select: none;
}

.logo:hover .logo-icon {
    fill: #00a1d6;
}

.logo:hover .logo-info {
    color: #00a1d6;
}

.mode {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode input[type="checkbox"] {
    display: none;
}

.mode-icon {
    width: 1.2vw;
    height: 1.2vw;
    cursor: pointer;
}

.mode .light-icon {
    fill: rgb(250, 150, 100);
}

.mode .light-icon:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mode .dark-icon {
    fill: rgb(250, 200, 127);
    transition: transform 0.2s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, -5px);
    }

    50% {
        transform: translate(5px, 5px);
    }

    75% {
        transform: translate(-3px, -3px);
    }
}

.mode .dark-icon:hover {
    animation: shake 1.5s ease-in-out infinite;
}

#light-mode:checked~.dark-mode {
    display: none;
}

#dark-mode:checked~.light-mode {
    display: none;
}

.setting {
    position: absolute;
    top: 3vh;
    right: 4vw;
}

.setting-icon {
    width: 1.2vw;
    height: 1.2vw;
}

.forum {
    position: absolute;
    top: 2.5vh;
    right: 6.5vw;
}

.user {
    position: absolute;
    top: 2vh;
    right: 9.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user .user-avatar {
    border: 1px solid #8d96a0;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    transition: all ease-in-out 0.3s;
}

.search {
    position: relative;
    left: 50%;
    width: 30vw;
    transform: translateX(-50%);
    margin-top: 2vh;
}

#search-input {
    width: 30vw;
    padding: 1.2vh 1vw;
    padding-right: 4.5vw;
    border: 1px solid #30363d;
    border-radius: 6vh;
    border-radius: 6vh;
    background-color: #161b22;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    letter-spacing: 1px;
    outline: none;
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

#search-input:hover {
    border-color: #4493f8;
}

#search-input:focus {
    border-color: #4493f8;
    border-radius: 0.5vw;
    transition: all ease-in-out 0.3s;
}

/* 隐藏浏览器自带的删除按钮 */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search .search-icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    margin-right: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    fill: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.search-icon:hover {
    fill: #00a1d6;
}

.search-clear {
    position: absolute;
    right: 3vw;
    top: 50%;
    width: 1vw;
    height: 1vw;
    text-align: center;
    font-size: 1em;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.clear-icon {
    fill: #667485;
    width: 1vw;
    height: 1vw;
}

.clear-icon:hover {
    fill: rgba(255, 255, 255, 0.7);
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}

.user-profile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #30363d;
    background-color: #161b22;
    color: #8d96a0;
    padding: 2vh 1vw;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

.user-profile.slide {
    transform: translateX(0);
}

.user-profile .avatar {
    position: relative;
    width: 4vw;
    height: 4vw;
    border: 1px solid #8d96a0;
    border-radius: 50%;
    overflow: hidden;
}

.avatar .user-avatar {
    width: 100%;
    height: 100%;
}

#avatar-input {
    position: absolute;
    width: 4vw;
    height: 4vw;
    opacity: 0;
    z-index: 1;
}

.user_name {
    margin-top: 1vh;
}

.line {
    width: 110%;
    border-bottom: 1px solid #30363d;
    margin: 1vh 0;
}

.main-profile {
    padding: 1vh 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.change-password {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #21262d;
    border-radius: 0.5vh;
    cursor: pointer;
    padding: 1vh 1vw;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1);
}

.change-password:hover {
    opacity: 0.8;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.change-password .password-icon {
    width: 1vw;
    height: 1vw;
    margin-right: 1vw;
}

.account {
    text-align: left;
}

.storage {
    position: relative;
    width: 100%;
}

.storage .info {
    padding: 1vh 0;
}

.storage-bar {
    width: 100%;
    height: 0.5vh;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1vh;
    overflow: hidden;
}

.storage-used {
    height: 0.5vh;
    background-color: #2f89f0;
    border-radius: 8px 0 0 8px;
    transition: width 0.5s ease;
}

.used-percentage,
.quota,
.used {
    margin: 2vh 0;
}

#logout {
    position: absolute;
    bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: 0.5vw;
    margin: 2vh;
    padding: 0.8vh 2vw;
    background-color: #21262d;
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color ease-out 0.5s;
}

#logout:hover {
    background-color: #f76666;
}

#logout:hover .info {
    color: rgba(255, 255, 255, 0.7);
}

#logout:hover .logout-icon {
    fill: rgba(255, 255, 255, 0.7);
}

#logout .info {
    font-size: 0.8em;
}

#logout .logout-icon {
    width: 1vw;
    height: 1vw;
}

/* 工具栏 */
.toolbar {
    position: relative;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #30363d;
    border-bottom: none;
    z-index: 1;
}

.tool-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    padding: 1vh;
    border-right: 0.5px solid #30363d;
    cursor: pointer;
    transition: background-color ease-out 0.5s;
}

.tool-option:hover {
    background-color: #21262d;
    opacity: 0.8;
}

.toolbar svg {
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
}

.tool-option.on {
    background-color: #21262d;
    opacity: 1;
}

.tool-option.on svg {
    fill: #4493f8;
}

.tool-option.on span {
    color: #4493f8;
}

#sort {
    position: relative;
}

#sort:hover {
    opacity: 1;
}

#sort:hover .mode-menu {
    display: block;
}

/* 排序工具的排序方式菜单 */
.mode-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2vh;
}

.mode-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid #30363d;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.mode-content li {
    width: 8vw;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #30363d;
}

.mode-content li:last-child {
    border-bottom: none;
}

.mode-content li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.8;
}

.mode-selected {
    color: #4493f8;
}

.storage-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 80vh;
    border: 1px solid #30363d;
    overflow: hidden;
}

.property {
    position: fixed;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    color: #8d96a0;
}

.property .name,
.property .modify-date,
.property .type,
.property .size {
    position: absolute;
    height: 5vh;
    line-height: 5vh;
}

.property .name {
    left: 4vw;
}

.property .modify-date {
    left: 37vw;
}

.property .type {
    left: 57vw;
}

.property .size {
    left: 67vw;
}

.dir {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    padding: 0 2vw;
    color: #8d96a0;
    overflow: auto;
}

.folder,
.file {
    width: 100%;
    height: 5vh;
    margin: 1vh 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.1vh 1vw;
    border: 1px solid transparent;

    /* 禁用选中 */
    -webkit-user-select: none !important;
    /* Safari */
    -moz-user-select: none !important;
    /* Firefox */
    -ms-user-select: none !important;
    /* IE/Edge */
    user-select: none !important;
    /* 标准语法 */
}

.selected {
    border-color: rgba(0, 150, 255, 0.3) !important;
    background-color: rgba(0, 150, 255, 0.1) !important;
}

.folder:hover,
.file:hover {
    border-color: #30363d;
}

.edit {
    border: none !important;
}

.folder-icon,
.file-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.dir .name {
    position: relative;
    width: 30vw;
    min-height: 4vh;
    padding: 1vh 1vw;
    white-space: nowrap;
    /* 保持一行显示 */
    overflow: hidden;
    /* 溢出隐藏 */
    text-overflow: ellipsis;
    /* 显示省略号 */
}

.name-input {
    position: absolute;
    top: 50%;
    left: 0;
    width: 25vw;
    height: 4vh;
    transform: translateY(-50%);
    margin: 0 1vw;
    padding: 0.5vh 1vw;
    outline: none;
    font-size: 1em;
    border: 2px solid #30363d;
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
    cursor: text;
}

.name-input::placeholder {
    color: rgba(255, 255, 255, 0.2);
    font-size: 1em;
}

.dir .modify-date {
    width: 20vw;
    padding: 1vh 2.5vw;
}

.dir .type {
    width: 10vw;
    padding: 1vh 2.5vw;
}

.dir .size {
    width: 10vw;
    padding: 1vh 2.5vw;
}

.dir .download,
.dir .delete {
    cursor: pointer;
}

.dir .download {
    margin-left: 2vw;
    padding: 0.5vh;
}

.download-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.download:hover .download-icon {
    fill: #009900;
}

.dir .delete {
    margin-left: 0.5vw;
    padding: 0.5vh;
}

.delete-icon {
    width: 1.2vw;
    height: 1.2vw;
}

.delete:hover .delete-icon {
    fill: #e9746a;
}

.dir .create-dir {
    margin: 2vh 0;
}

.create-dir .create-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.create-dir:hover .create-icon {
    fill: rgba(255, 255, 255, 0.7);
}

/* 右键所选项显示的选项窗口 */
#context-menu {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid #30363d;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    z-index: 3;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#context-menu li {
    padding: 10px 20px;
    cursor: pointer;
}

#context-menu li:first-child {
    border-bottom: 1px solid #30363d;
}

#context-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.download-selected,
.delete-selected {
    display: flex;
    align-items: center;
    color: white;
}

#context-menu li .download-icon,
#context-menu li .delete-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

#context-menu li span {
    padding: 0.5vh 1vw;
}

/* 下载任务窗口 */
#task {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 1.2vw;
    height: 1.2vw;
    cursor: pointer;
}

#task-icon svg {
    width: 1.2vw;
    height: 1.2vw;
}

#task-icon:hover svg {
    fill: #4493f8;
}

#task-window {
    position: fixed;
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 55vw;
    height: 60vh;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #30363d;
    z-index: 2;
    transition: width ease-out 0.5s;
}

#task-window.window-shrunk {
    width: 50vw;
}

#task-window.dragging {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

.window-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../image/drag.png'), move;
}

.window-title .list-icon {
    width: 1vw;
    height: 1vw;
}

.list-icon svg {
    width: 1vw;
    height: 1vw;
}

.window-title .title {
    padding: 1vh 0.5vw;
}

.window-shrink,
.window-full,
.window-exit {
    position: absolute;
    top: 0.5vh;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-shrink svg,
.window-full svg,
.window-exit svg {
    width: 1vw;
    height: 1vw;
}

.window-shrink:hover,
.window-full:hover,
.window-exit:hover {
    opacity: 0.7;
}

.window-full {
    display: none;
    right: 2.5vw;
}

.window-shrink {
    right: 2.5vw;
}

.window-exit {
    right: 0.5vw;
}

#task-window .main {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-top: 1px solid #30363d;
    overflow: scroll;
}

.task-tools {
    position: sticky;
    top: 0;
    left: 0;
    width: 6vw;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
}

.task-tools.fade-out {
    width: 0;
    opacity: 0;
}

.task-tools .tool-item {
    padding: 1vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #30363d;
}

.tool-item svg {
    width: 1vw;
    height: 1vw;
    transition: fill ease-in-out 0.5s;
}

.tool-item .tool-info {
    font-size: 0.8em;
    margin-left: 0.3vw;
    transition: color ease-in-out 0.5s;
}

.tool-item:hover {
    opacity: 0.7;
}

/*
.tool-item:hover svg {
    fill: rgb(30, 150, 30);
}

.tool-item:hover .tool-info {
    color: rgb(30, 150, 30);
}
*/

.tool-item.on svg {
    fill: #4493f8;
}

.tool-item.on .tool-info {
    color: #4493f8;
}

#task-content {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-left: 1px solid #30363d;
}

.task-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 0;
    border-bottom: 1px solid #30363d;
}

#task-content .task-item:last-child {
    border-top: 1px solid #30363d;
}

.task-info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.file-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-bottom: 1vh;
}

.file-icon {
    width: 1.2vw;
    height: 1.2vw;
}

.file-icon svg {
    width: 1.2vw;
    height: 1.2vw;
}

.file-name {
    padding: 0 0.5vw;
    font-size: 1em !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-info {
    position: relative;
    width: 40vw;
    height: 2vh;
    font-size: 0.5em;
}

.download-info .speed {
    position: absolute;
    top: 0;
    left: 0;
}

.download-info .data-downloaded {
    position: absolute;
    top: 0;
    right: 0;
}

.progress {
    width: 100%;
    height: 1.5vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(76, 175, 80, 0.5);
    transition: background-color ease-in-out 0.5s;
}

.task-paused .progress-bar {
    background-color: rgba(255, 255, 255, 0.15);
}

.progress-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
}

.cancel-download {
    width: 2vh;
    height: 2vh;
    transform: translateY(2vh);
    margin-left: 0.5vw;
    margin-right: 2vw;
    cursor: pointer;
}

.cancel-download:hover svg {
    opacity: 0.7;
}

.cancel-download svg {
    width: 2vh;
    height: 2vh;
}

.task-control {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}

.task-control {
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
}

.task-button:hover {
    opacity: 0.7;
}

.resume-download {
    display: none;
}

.redownload {
    display: none;
}

.resume-download svg {
    width: 1.7vw !important;
    height: 1.7vw !important;
}

/* 上传文件 */
.upload {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #8d96a0;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.upload-form {
    position: relative;
    width: 40vw;
    height: 20vh;
}

#select，#submit {
    position: relative;
    width: 40vw;
    height: 20vh;
    transform: translateX(100%);
}

.upload-info,
.submit-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
}

#upload-input,
#files-submit {
    width: 40vw;
    height: 20vh;
    opacity: 0;
    z-index: 1;
}

#files-list {
    position: relative;
    left: 10%;
    width: 80%;
    background-color: #161b22;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

#files-list .title {
    width: 8vw;
    margin: 2vh 0;
}

.files-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    min-height: 3vh;
}

.file-item {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    border: 1px solid #30363d;
    padding: 1vh 1vw;
}

.file-name {
    width: 100%;
    font-size: 1em;
    margin-right: 1vw;
    white-space: nowrap;
    /* 保持一行显示 */
    overflow: hidden;
    /* 溢出隐藏 */
    text-overflow: ellipsis;
    /* 显示省略号 */
}

.file-delete {
    width: 1vw;
    height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file-delete svg {
    fill: #8d96a0;
    width: 1vw;
    height: 1vw;
}

.file-delete svg:hover {
    opacity: 0.6;
}

#files-list #clear {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 6vw;
    margin-top: 3vh;
    padding: 1vh 0.5vw;
    border: 1px solid #30363d;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8em;
}

#clear:hover {
    opacity: 0.6;
}

.clear-icon {
    margin-right: 0.5vw;
}